.home {
  min-height: 100vh;
  height: auto;
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    input {
      margin: 20px 0;
      padding: 10px;
      outline: none;
      border: 1px solid #ccc;
      width: 300px;
      font-size: 18px;
      border-radius: 10px;
    }

    button {
      font-size: 18px;
      border: 1px solid #ccc;
      padding: 5px;
      color: #fff;
      background: #f3b542;
      border: 2px solid #fff;
      margin-left: 10px;
      border-radius: 5px;
      outline: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        background: #000;
        color: #fff;
        border: 2px solid #f3b542;
      }
    }
  }

  &-grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    .home-meal {
      text-align: center;
      cursor: pointer;
      font-size: 12px;
    }

    img {
      width: 250px;
      border: 1px solid #ccc;
      margin: 10px;
      transition: all 0.4s ease;
      border-radius: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
