.categories {
  min-height: 100vh;
  height: auto;
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  img {
    width: 170px;
    margin: 5px;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}
