.random {
  min-height: 100vh;
  height: auto;
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 250px;
    border: 1px solid #ccc;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }

  &-grid {
    &-controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      button {
        margin-top: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
        background: #000;
        color: #fff;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.415);
          color: rgba(255, 255, 255, 0.415);
          background: rgba(0, 0, 0, 0.35);
        }
      }
    }

    &-instructions {
      text-align: center;
      padding: 10px;

      p {
        font-size: 18px;
      }
    }
  }
}
